<html lang="pt-BR">


<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>DoramaFlix</title>
</head>


<body>
    <header>DoramaFlix</header>


    <section class="chamada">
        <div class="chamada-texto">
            <h1>SERIES SOBRE ROMANCE</h1>
            <p>#DORAMA</p>
        </div>


        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rl1GVYPEIuc?si=uXbdmiMdNezxrmKh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </section>


    <section class="categoria">
        <h2>Filmes e séries</h2>
        <div class="categoria-videos">


  <a href=https://youtu.be/GVQGWgeVc4k?si=v5ppLPqX92TDVFJz>
  <img src="https://img.youtube.com/vi/cs15QqG6Gjc/maxresdefault.jpg" alt="POUSANDO NO AMOR">
   </a>   
         
 <a href=https://youtu.be/BhP1eYQ5Pxk?si=w0DLKxbHFygVLvug>
 <img src="https://img.youtube.com/vi/nCmIwcycUJ8/maxresdefault.jpg" alt="BELEZA VERDADEIRA">
  </a>            


 <a href=https://youtu.be/M-PHcxPyasA?si=z3kQAmwDiNQ5KNY7>
 <img src="https://img.youtube.com/vi/FvRmEapoHRc/maxresdefault.jpg" alt="PRETENDENTE SURPRESA_">
 </a> 


 <a href=https://youtu.be/MxeXECe2t-c?si=UWpKe-6zrCpTkEZp>
 <img src="https://img.youtube.com/vi/Ipkw_hWW-Hw/maxresdefault.jpg" alt="UMA ADVOGADA EXTRA ORDINARIA">
 </a> 


            
<a href=https://youtu.be/_rNtXO6JuaQ?si=2Q3wCvDR6KqzkY1P>               
<img src="https://img.youtube.com/vi/d4DzMNGoyis/maxresdefault.jpg" alt="RAINHA DAS LAGRIMAS">
            </a>


 <a href=https://youtu.be/igovXqQsA7U?si=ZE96bT1syKSnl4pB>
 <img src="https://img.youtube.com/vi/Ipkw_hWW-Hw/maxresdefault.jpg" alt="O AMOR MORA AO LADO">
 </a>       
     
 <a href=https://youtu.be/zvNvpYh0LpI?si=SJ5k_OM1ShXRe-QQ>
 <img src="https://img.youtube.com/vi/d4DzMNGoyis/maxresdefault.jpg" alt="UM BOM DIA PARA SER UM CACHORRO">
  </a> 


        </div>
    </section>


</body>


</html>
body {
    background-color:#344c9c;
    color:#b4b6d4;
    font-family: sans-serif;
}


header {
    color: #ff5757;
    font-size: 50px;
    font-family: "Great Vibes", serif;
}


p{
    font-size: 25px;
}


h1 {
    font-size: 40px;
}


h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}
 
.chamada {
    color:#344c9c;
    background: #9494cc;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex; /* torna flexivel = põe um do lado do outro */
    justify-content: center; /* centralizar */  
}


.chamada-texto {
    margin-right: 5%;
}


img{
    height: 200px;
}


.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
    background-image: linear-gradient( #9494cc, #166f40) ;
}


.categoria-videos{
    display: flex;
    overflow-x: auto; /* permite rolagem horizontal automática quando o  conteúdo exceder a largura da tela */
    gap: 10px; /* adiciona espaçamento entre os elementos*/
    padding-bottom: 10px;
}


.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid blueviolet;
}


